*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.overlay{
    display: grid;
    place-items: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.box{
    background: linear-gradient(to right, #0096FF, #6495ED);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.7);
}

.display-one{
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}

.jackpot-info{
    font-family: 'Koulen', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.display-two{
    display: grid;
    place-items: center;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 500px;
    padding: 10px;
}

.inline-one{
    display: inline-flex;
}

.space{
    padding: 10px;
}

.win-1,
.win-2,
.win-3{
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 100px;
}

.win,
.number-7,
.number-2-6,
.number-8-12{
    font-family: 'Koulen', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.radio-2-6,
.radio-7,
.radio-8-12{
    width: 30px;
    height: 30px;
}

.display-three{
    display: grid;
    place-items: center;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 500px;
    padding: 10px;
}

.inline-two{
    display: inline-flex;
}

.dice-one,
.dice-two{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 45px;
    border-radius: 5px;
    text-align: center;
}

.center{
    display: grid;
    place-items: center;
}

label{
    padding-bottom: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.input-number{
    width: 200px;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.input-number:focus{
    outline: none;
}

.roll-dice{
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
}

.display-four{
    text-align: center;
    padding-top: 50px;
}

.more-money{
    padding-bottom: 20px;
    font-size: 18px;
}

.input-request{
    width: 200px;
    padding: 10px;
    font-size: 18px;
}

.input-request:focus{
    outline: none;
}

.request-diamond{
    border:none;
    padding: 10px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.balance{
    font-family: 'Koulen', cursive;
    font-size: 25px;
    padding-bottom: 20px;
}

.diamond{
    font-family: 'Koulen', cursive;
}